// Fonts
$primaryFont: 'Quicksand', sans-serif;
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 16px;
$baseFontColor: #6b8aa2;

// Colours
$primary: #555759;
$secondary: #002f52;
$tertiary: #687477;
$lightgrey: #f5f8f9;
$text: $baseFontColor;
$border: darken($lightgrey, 5%);
