/*
*	APF Update Properties
*
*	@package Advanced Property Framework
*	@version 1.0
*/

.apf__update { padding: 60px 0 20px;
    .apf__update__width { width: 600px; margin: 0 auto; display: flex; flex-direction: column; text-align: center;

        h2 { font-family: 'Conv_BlissPro-Bold'; font-size:22px; color: $text; margin-bottom: 10px;}

        a.apf__update__trigger { font-family: 'Conv_BlissPro-Bold'; font-size:18px; color: #fff; background: $primary; align-self: center; margin: 40px 0; border-radius: 5px; padding: 15px 40px;
            &:hover { background: lighten($primary, 5%);}
            
            &.disabled { background: $lightgrey; color: darken($lightgrey, 10%); pointer-events: none;}
        }

        #apf_update_properties { display: flex; flex-direction: column; justify-content: center; align-items: center;
            p { margin-bottom: 20px; font-size: 18px; display: flex; align-items: center;
                i { margin-right: 10px; color: #3bdc40; font-size: 20px;}
            }
        }
    }
}
