/*
*	Property search map
*
*	Styles for map results
*
*	@package Advanced Property Framework
*	@version 1.0
*/

/* Pagination */
.apf__pagination { width:100%; padding:0; position:relative; font-size: 21px; line-height:13px; overflow:hidden; margin:10px; display: flex; justify-content: space-between; align-items: center;
    @include breakpoint(ipad_p) { padding:0 10px;}

    .apf__page__count { padding:12px 0; color:$text; font-size:16px;}

    .apf__page__numbers { display: flex; align-items: center;}

    span { display:block; margin:0; text-decoration:none; width:auto; color:$text; padding:12px;
        &:first-child { padding: 16px 18px 12px;}
    }

    a { padding: 16px 18px 12px; display:block; margin:0; text-decoration:none; width:auto; color:$text; border-radius: 3px;
        &:first-child { padding: 16px 18px 12px;}
        &:hover { background:$lightgrey; color:$text;}
    }

    .apf__current__page { padding: 16px 18px 12px; background:$secondary; color:$primary; border-radius: 3px; font-weight: 700;}
}