/*
*	Property search map infowindow
*
*	@package Advanced Property Framework
*	@version 1.0
*/

#infowindow { position:absolute; z-index:10; background:rgba(255, 255, 255, 0.9); top:0; box-shadow:-4px, 0, 10px, rgba(0, 0, 0, 0.1); width:300px; height:100%; transition:all, .4s, ease-in-out; visibility: hidden; opacity: 0; transition:all .4s ease;

    &.open { right:0; visibility: visible; opacity: 1; transition:all .4s ease;
        @include breakpoint(mamabear) { bottom: 100px; top: auto;}
    }

    &.closed { right:-100%;}

    @include breakpoint(mamabear) { width:100%; height:auto; border-bottom:1px solid $lightgrey; box-shadow:0, 0, 0, rgba(0, 0, 0, 0);}

    .infowindow__img { position:relative;
        @include breakpoint(mamabear) { width:40%; float:left; margin-right:10px;}

        .infowindow-close { position:absolute; width:40px; height:40px; background:$secondary; top:0; left:-40px; border-radius: 25px 0 0 25px;
            @include breakpoint(mamabear) { display:none;}

            i { color:$primary; text-align:center; line-height:40px; font-size:25px; display:block;}

            &:hover { background: lighten($secondary, 3%);}
        }
    }

    h3 { font-size:16px; padding:10px 20px; margin:0; color:$text; position:relative;
        @include breakpoint(mamabear) { padding:5px 0; font-size:13px;}

        a { color: $primary; font-size:24px; font-weight: 700;
            @include breakpoint(mamabear) { font-size:20px;}
        }

        span { display:inline-block; background:$secondary; color:#fff; padding:5px 10px; float:right; margin-right:-10px; font-size:12px; font-weight:600;
            @include breakpoint(mamabear) { margin-right:0;}
        }

        small { font-size:16px;}

        strong { display:block; color:$text; font-size:14px;
            @include breakpoint(mamabear) { font-size:12px;}
        }
    }

    .infowindow__content { padding: 20px;
        h5 { font-size: 22px; margin:0 0 10px; color:$primary; font-weight: 600;
            @include breakpoint(mamabear) { font-size:12px; margin:0 0 5px;}
        }

        p { color:$text; line-height:22px; margin:0 0 10px; font-size: 15px;
            @include breakpoint(mamabear) { display:none;}

            &.infowindow__content__name-mobile { display:none;
                @include breakpoint(mamabear) { display:block; font-size:12px; line-height:15px; @include text-truncate;}
            }
        }
    }

    .infowindow__fom { font-size:16px; font-weight:700; display:flex; align-items:center; justify-content:center; padding:15px 20px; border-radius:3px; width:100%; color:$primary; text-transform:uppercase; background:$secondary; margin-right:5px; margin-top:20px;

        @include breakpoint(mamabear) { display:none;}

        &:hover { background: lighten($secondary, 3%);}
    }

    p.empty-text { text-align:center; color:lighten($text, 30%); margin:35px 0 0;}
}
