/*
*	Single Property
*
*	Styles for the property details page.
*
*	@package Advanced Property Framework
*	@version 1.0
*/

section {

	&.apf {

		&.apf__single__property {

			@import 'apf-single-property-header-boxed';

			/* Details */
			.apf__single__property__details {

				/* Content */
				.apf__single__property__content__wrap { display:flex; padding:30px 0 40px; justify-content:space-between;

					@include breakpoint(papabear) { flex-direction:column; padding:20px 0;}

					.apf__single__property__content { width:70%; padding-right:20px;

						@include breakpoint(papabear) { width:100%; padding:0;}

						@import 'apf-single-property-gallery';

						article { border-bottom:1px solid darken($lightgrey, 5%); padding-bottom:20px; margin-bottom:40px;

							&:last-of-type { border-bottom:none; padding-bottom:0; margin-bottom:0;}

							h2 { font-size:28px; color: $primary; padding-bottom:25px; font-weight: 500;}

							p { font-size: 17px; color:$text; padding-bottom:20px; line-height: 30px;
								br {
									&:first-of-type { display: none;}
								}
								strong { font-weight:400;}
							}

							a.apf__article__button { display:inline-block; padding:10px 15px; background:$text; color:#fff; font-size:16px; margin-right:10px;
								&:hover { background:$primary;}
							}

							/* Maps */
							#map_single { height:400px; overflow: hidden; border-radius: 5px;}
							#street_single { height:400px; margin-top:20px;}

							/* Gallery */
							ul.property__gallery__all { display:flex; flex-wrap:wrap;

								li { width:50%; padding:5px; cursor:pointer;}

							}

							&.apf__single__property__features { background:$lightgrey; padding:20px; border-radius: 3px; border-bottom: none;

								ul { display:flex; flex-wrap:wrap;

									li { width:50%; padding-right:20px; font-size: 16; line-height:26px; display:flex; align-items:flex-start; padding-bottom:20px; color: $primary;

                                        @include breakpoint(papabear) { width: 100%;}

										&:before { font-family:"Font Awesome 5 Pro"; content:"\f058"; font-size:20px; margin-right:10px; /*color:#72e437;*/ color:$secondary; font-weight: bold;}
									}

								}

							}

                            &.apf__brochure {
                                iframe { width: 100%; height: 523px;
                                    @include breakpoint(mamabear) { height: 260px;}
                                }
                            }

                            &.epc {
                                .epc__graphics {
                                    img { max-height: 365px; width: auto;}
                                }
                            }

                            &.apf__brochure {
                                .apf__brochure__pdf { display: flex;
                                    .apf__brochure__pdf__img { width: 300px; margin-right: 20px; padding: 20px; background: $lightgrey;
                                        img { margin-bottom: 20px;}

                                        h4 { font-size: 18px;}
                                        h5 { font-size: 22px; color: $primary; font-weight: 700;}
                                    }
                                }

                                .apf__brochure__action { width: 300px;
                                    p { font-size: 18px; margin-bottom: 20px;
                                        span { color: $primary;}
                                    }
                                    a { background: $secondary; font-size: 18px; color: $primary; font-weight: 700;
                                        &:hover { background: lighten($secondary, 5%);}
                                    }
                                }
                            }
						}

						article ul.property__gallery__all:hover > li:hover a { transition:all, .4s, ease-in-out; opacity:1;}
						article ul.property__gallery__all:hover > li:not(:hover) a { transition:all, .4s, ease-in-out; opacity:0.2;}

					}

					@import 'apf-single-property-sidebar';

				}

			}

		}

	}

}
